$screen_pc: 899px; //換成變動單位
$screen_tb: 768px; //行動裝置：換圖，行動版字尺寸_tab
$screen_mo: 550px; //行動裝置：換圖，行動版字尺寸_mo
$screen_mm: 350px; //小螢幕手機微調
html,
body {
  margin: 0;
}
#digim.wrapper {
  width: 100%;
  overflow-x: hidden;

  .order {
    width: 100%;
    height: auto;
    color: #000;
    display: block;
    position: relative;
    background-color: #fff;
    z-index: 99;
    div {
      height: 400px;
      border: 1px solid;
    }
  }
  .container_gsapColumn {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    .panel {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 1.5em;
      text-align: center;
      color: white;
      position: relative;
      box-sizing: border-box;
      padding: 10px;
      left: 0;
      h1 {
        font-size: inherit;
        line-height: 2em;
        @media only screen and (max-width: $screen_pc) {
          font-size: 5vw;
        }
      }
      P {
        font-size: inherit;
        @media only screen and (max-width: $screen_pc) {
          font-size: 4vw;
        }
      }
    }
  }

  .blue {
    background-color: #2c7ad2;
  }
  .red {
    background-color: #c82736;
  }
  .orange {
    background-color: #e77614;
  }
  .purple {
    background-color: #8d3dae;
  }
  .green {
    background-color: green;
  }
  .gray {
    background-color: #777;
  }
}
