$screen_pc: 899px; //換成變動單位
$screen_tb: 768px; //行動裝置：換圖，行動版字尺寸_tab
$screen_mo: 550px; //行動裝置：換圖，行動版字尺寸_mo
$screen_mm: 350px; //小螢幕手機微調

html,
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
#digim.wrapper {
    max-width: 1960px;
    width: 100%;
    overflow-x: hidden;

    .swiper-container {
        position: relative;
        z-index: 1;
        width: 77%;
        max-height: 406px;
        height: 45vw;
        margin-top: 8.8%;
        left: 0%;
        iframe,
        .title {
            width: 100%;
        }
        iframe {
            max-height: 365px;
            height: 40vw;
            position: relative;
            @media screen and (max-width: 767px) {
                height: 38vw;
            }
        }
        .title {
            position: absolute;
            top: 88%;
            text-align: center;
            font-size: 100%;
            @media screen and (max-width: 767px) {
                top: 83%;
                font-size: 3vw;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        z-index: 1;
        // transform: translateY(-50%);
        top: 50%;
        max-width: 55px;
        max-height: 88px;
        width: 5vw;
        height: 8vw;
        display: block;
        text-indent: -999999px;
        background-size: cover !important;
    }
    .swiper-button-prev {
        background: url(prev.png) no-repeat;
    }
    .swiper-button-next {
        background: url(next.png) no-repeat;
    }

    .swiper-pagination {
        //小點點
        position: relative;
        z-index: 1;
        margin-top: 5%;
        .swiper-pagination-bullet {
            max-width: 20px;
            max-height: 20px;
            width: 4vw;
            height: 4vw;
            margin: 5px 11px;
            opacity: 1;
            background-color: #545454;
        }
        .swiper-pagination-bullet-active,
        .swiper-pagination-bullet:hover {
            background-color: #0188f2;
        }
        .swiper-pagination-bullet:hover {
            opacity: 0.5;
        }
    }
}
